@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Kdam Thmor Pro";
    background-color: #151515;
}

h1 {
    color:#F3F3F3;
}

canvas {
    box-shadow: .3rem 1rem 3rem .8rem rgba(8, 8, 8, .9);
    border-radius: 5%;
}